body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

 button {
    background: rgb(37, 36, 36);
    border: none;
    color: cyan;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 400px 0px 0px 0px;
    border-radius: 50%;
 }

header {
    padding: 40px 40px 10px 50px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: cyan;
}

#examples {
    background: rgb(0, 0, 0);
    color: cyan;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#products {
    margin: 0px 0px 20px 0px;
    background: black;
    padding: 10px;
}

.img-tshirt {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 225px;
    position: relative;
    bottom: 200px;    
}

.shorts-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 200px;
    position: relative;
    bottom: 230px;
}

.tracksuit-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 210px;
    position: relative;
    bottom: 230px;
}

div {
    background-color: rgb(37, 36, 36);
    width: 100px;
    margin: auto;
    border-radius: 50%;
    padding: 15px
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
    background: rgb(0, 0, 0);
}

a {
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 28px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    text-decoration: none;
    font-size: medium;
}

a::after {
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover {
    color: cyan;
}

a:hover::after {
    scale: 1 1;
}




h2 {
    color: cyan;
}
